.dev_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
  .dev_first {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    img {
      width: 50%;
      border-radius: 5px;
    }
    .dev_right {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      h1 {
        font-size: 36px;
        text-align: center;
      }
      p {
        text-align: center;
        line-height: 2;
        color: gray;
        font-weight: 500;
      }
      a {
        text-align: center;
        margin-top: 1rem;
        font-weight: 700;
      }
    }
  }
}
.dev_container {
  .dev_first.reverse {
    flex-direction: row;
  }
}
.green_h1 {
  color: #198754;
}
.blue_h1 {
  color: #0dcaf0;
}
.greeen_a {
  width: 50%;
  color: #198754;
  border: 1px solid #198754;
  padding: 10px 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
  &:hover {
    background-color: #198754;
    color: #fff;
  }
}
.blue_a {
  width: 50%;
  color: #0dcaf0;
  border: 1px solid #0dcaf0;
  padding: 10px 5px;
  border-radius: 5px;
  transition: all 0.5s ease;
  &:hover {
    background-color: #0dcaf0;
    color: #fff;
  }
}

@media (max-width: 798px) {
  .dev_container {
    .dev_first {
      flex-direction: column;
      img {
        width: 100%;
        margin-bottom: 2rem;
      }
      .dev_right {
        width: 100%;
      }
    }
  }
}

// .dev_container {
//     .dev_first {
//       img {
//         width: 100%;
//       }
//       .dev_right {
//         width: 100%;
//       }
//     }
//   }
