.footer_container {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212529;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: white;
  }
}
.footer_ul {
  display: flex;
  margin-bottom: 8px;
  li {
    margin: 0 1rem;
  }
  i {
    font-size: 24px;
  }
}
.fb {
  color: aqua;
}
.tw {
  color: aqua;
}
.yt {
  color: crimson;
}
.ig {
  color: #c13584;
}
