.life_container {
  display: flex;
  padding-top: 2rem;
  align-items: center;
  margin-bottom: 32px;
}
.life_img {
  width: 50%;
  padding-right: 8px;
}
.life_right {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  h1 {
    font-size: 36px;
  }
  p {
    color: gray;
    line-height: 2.5;
  }
}

@media (max-width: 1090px) {
  .life_right {
    h1 {
      font-size: 24px;
    }
    p {
    }
  }
}
@media (max-width: 798px) {
  .life_container {
    flex-direction: column-reverse;
  }
  .life_img {
    width: 80%;
  }
  .life_right {
    width: 100%;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
}
