.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.nav_left {
  font-size: 1.5rem;
  color: #0dcaf0;
  font-weight: bold;
}
.bi-book-half {
  margin-right: 5px;
}

.nav_right {
  display: flex;
  align-items: center;
}
.userImg {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.nav_middle {
  display: flex;
  align-items: baseline;
  margin-right: 64px;
  input {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left: 8px;
    height: 24px;
    &:focus {
      outline: none;
    }
  }
}
.ul_list {
  display: flex;
  margin-right: 40px;
  a {
    color: gray;
    font-weight: bold;
    margin-right: 32px;
    display: inline-block;
    position: relative;
    &.active {
      color: #0dcaf0;
      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -7px;
        width: 100%;
        height: 2px;
        background-color: #0dcaf0;
        transition: width 0.5s ease;
      }
    }
    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -7px;
      width: 0;
      height: 2px;
      background-color: #0dcaf0;
      transition: width 0.5s ease;
    }
    &:hover {
      color: #0dcaf0;
      &::after {
        width: 100%;
      }
    }
  }
}
.btn_group {
  .loginBtn {
    color: #0dcaf0;
    border: 1px solid #0dcaf0;
    border-radius: 5px;
    padding: 10px 10px;
    margin-right: 16px;
    display: inline-block;
    transition: all 0.5s ease;
    text-align: center;
    &:hover {
      background-color: #0dcaf0;
      color: #fff;
    }
  }
  .registerBtn {
    color: #198754;
    border: 1px solid #198754;
    border-radius: 5px;
    padding: 10px 10px;
    display: inline-block;
    transition: all 0.5s ease;
    text-align: center;
    &:hover {
      background-color: #198754;
      color: #fff;
    }
  }
}
.bi-list {
  font-size: 24px;
  cursor: pointer;
  display: none;
}
.bi-x {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: none;
}

//media
@media (max-width: 940px) {
  .bi-list {
    display: block;
  }
  .nav_right {
    position: fixed;
    width: 0;
    height: 100%;
    opacity: 0;
    top: 0;
    right: 0;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    background-color: wheat;
    transition: opacity 0.3s, width 0.5s ease;
    z-index: 5;
  }
  .nav_container.show {
    .bi-list {
      display: none;
    }
    .bi-x {
      display: block;
    }
    .nav_right {
      width: 100%;
      opacity: 1;
    }
  }
  .ul_list {
    flex-direction: column;
    margin-top: 36px;
    margin-right: 0;
    a {
      margin-top: 2rem;
      margin-right: 0;
      text-align: center;
    }
  }
  .btn_group {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
    padding-top: 2rem;
    .loginBtn {
      margin-top: 1rem;
      width: 100%;
    }
    .registerBtn {
      margin-top: 1rem;
      width: 100%;
    }
  }
  .nav_middle {
    width: 40%;
    margin: 0 auto;
    input {
      width: 100%;
      border-bottom: 1px solid #ced4da;
      margin-top: 2rem;
    }
  }
}
