.post_container {
  display: flex;
  margin-bottom: 32px;
  padding-top: 32px;
}
.postCard {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.post-card-item {
  width: 50%;
  padding-right: 16px;
  padding-bottom: 16px;
}
.post-card {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  .img-container {
    width: 100%;
    height: 285px;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 285px;
    object-fit: cover;
    object-position: center center;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.5);
    }
  }
}
.card-content {
  padding: 8px 1rem;
  p {
    color: gray;
    line-height: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  a {
    border-radius: 5px;
    padding: 5px 1rem;
    border: 1px solid crimson;
    transition: all 0.5s ease;
    display: inline-block;
    margin-top: 1rem;
    color: crimson;
    text-align: center;
    &:hover {
      background-color: crimson;
      color: #fff;
    }
  }
}
.card-content-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.card-userName {
  display: flex;
  align-items: center;
  color: rgb(255, 193, 7);
  i {
    margin-right: 5px;
  }
}
.card-time {
  display: flex;
  align-items: center;
  color: #198754;
  i {
    margin-right: 5px;
  }
}

.sidebar {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.sidebar > div {
  width: 100%;
  margin: 1rem 0;
  &:first-child {
    margin-top: 0;
  }
  h1 {
    color: #fff;
    font-size: 36px;
    margin-bottom: 1rem;
  }
  p {
    color: #fff;
    font-size: 24px;
    margin-bottom: 1rem;
  }
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
}
.bg-gray {
  background-color: rgb(108, 117, 125);
  border-radius: 5px;
}
.bg-green {
  background-color: rgb(25, 135, 84);
  border-radius: 5px;
  opacity: 0.5;
}
.bg-pink {
  background-color: rgb(220, 53, 69);
  border-radius: 5px;
  opacity: 0.5;
}
.sidebar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.sidebar ul {
  li {
    margin: 1rem 0;
    a {
      color: #fff;
      font-size: 20px;
    }
  }
}
.community {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  margin: 8px 0;
  i {
    font-size: 24px;
    margin-right: 5px;
  }
}

@media (max-width: 940px) {
  .sidebar {
    display: none;
  }
  .postCard {
    width: 100%;
  }
  .card-content {
    a {
      width: 100%;
    }
  }
}
@media (max-width: 590px) {
  .post-card-item {
    width: 100%;
  }
}
