.skill_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
.skill_h1 {
  color: #0dcaf0;
  font-size: 36px;
  text-align: center;
}
.skill {
  display: flex;
  flex-wrap: wrap;
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
    width: 25%;
    img {
      height: 150px;
    }
  }
  .icon.second {
    width: 33%;
  }
}

//media

@media (max-width: 798px) {
  .skill {
    .icon {
      width: 100%;
    }
    .icon.second {
      width: 100%;
    }
  }
}
