.write_container {
  width: 70%;
  display: flex;
  flex-direction: column;
  img {
    height: 600px;
    margin-bottom: 1.5rem;
    object-fit: cover;
    padding-right: 16px;
  }
}
.bi-plus-circle-dotted {
  font-size: 3rem;
  padding-right: 8px;
  cursor: pointer;
  &.err {
    color: crimson;
  }
}
.write_title {
  display: flex;
  align-items: center;
  padding-right: 16px;
  input[type="text"] {
    width: 100%;
    padding: 0.375rem 0.75rem;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #212529;
    border-bottom: 1px solid gray;
    &:focus {
      outline: none;
      box-shadow: 0 0 0.5rem aqua;
    }
  }
}
.write_textArea {
  margin-right: 16px;
  margin-top: 16px;
  font-size: 2rem;
  border: none;
  background-color: transparent;
  &:focus {
    outline: none;
    box-shadow: 0 0 0.5rem aqua;
  }
}
.write_btn {
  width: 50%;
  margin-top: 3rem;
  background-color: transparent;
  border: 1px solid #198754;
  color: #198754;
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover {
    background-color: #198754;
    color: #fff;
  }
}

@media (max-width: 940px) {
  .write_container {
    width: 100%;
  }
}
