*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Noto Serif TC", serif;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
.sectionBg {
  width: 100%;
  background-image: url("../images/bg_paper.png");
}
.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}

@import "./components/nav";
@import "./components/feeling";
@import "./components/life";
@import "./components/dosomething";
@import "./components/dev";
@import "./components/skill";
@import "./components/footer";
@import "./components/modal";
@import "./components/post";
@import "./components/loading";
@import "./components/write";
